.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  margin-top: 50px;
}

.footer p {
  margin-bottom: 5px;
}

.footer a {
  color: #007bff;
}

.smaller-image {
  max-width: 100px; /* Adjust the maximum width as needed */
  height: auto;
}

.container {
  width: 100%;
  max-width: none;
  align-items: center;
}
